<div class="header-container">
  <h1 class="header-logo">
    LAAT
  </h1>
  <button class="btn header-btn" (click)="navigateToEmailpage()">
    Start Now
  </button>
</div>
<div class="header-container mt-0">
  <hr>
</div>

<div class="container">
  <div class="flex-row-container m-10 mt-0">
    <div class="col-6 col-sm-12 pr-4 " >
      <h1>
        The Easiest Way To Get Your Products Online
      </h1>
      <p>
        With LAAT you can bring your products closer to customers in just few minutes. It is the most painless and
        intuitive way to get started
      </p>
      <div class="col-12 relative flex-center-sm">
        <button class="btn" (click)="navigateToEmailpage()">
          Start Now
        </button>
      </div>
    </div>
    <div class="col-6 pl-4 col-sm-12 flex-center-sm">
      <img class="col-12" src="../assets/young-lady-looking-at-her-phone-and-does-not-notice-futuristic-tv-on-wall.svg"
           alt="Kiwi standing on oval">
    </div>
  </div>
</div>

<div class="container background-light-gray">
  <div class="flex-row-container flex-direction-column-reverse-sm m-10">
    <div class="col-6 pr-4 col-sm-12 flex-center-sm">
      <img class="col-12" src="../assets/guy-leaning-on-a-post.svg" alt="Kiwi standing on oval">
    </div>
    <div class="col-6 pl-4 col-sm-12">
      <h1>
        Fastest Way
      </h1>
      <p>
        Get your products online under 5 minutes
      </p>
      <div class="col-12 relative flex-center-sm">
        <button class="btn" (click)="navigateToEmailpage()">
          Start Now
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="flex-row-container m-10 mt-0">
    <div class="col-6 col-sm-12 pr-4">
      <h1>
        Simplistic Approach
      </h1>
      <p>
        Clean and intuitive desin without all the unnecessary
      </p>
      <div class="col-12 relative flex-center-sm">
        <button class="btn" (click)="navigateToEmailpage()">
          Start Now
        </button>
      </div>
    </div>
    <div class="col-6 pl-4 col-sm-12 flex-center-sm">
      <img class="col-12" src="../assets/guy-looking-at-a-black-mirror.svg"
           alt="Kiwi standing on oval">
    </div>
  </div>
</div>

<div class="container background-light-gray">
  <div class="flex-row-container flex-direction-column-reverse-sm m-10">
    <div class="col-6 pr-4 col-sm-12 flex-center-sm">
      <img class="col-12" src="../assets/lady-looking-at-tablet.svg" alt="Kiwi standing on oval">
    </div>
    <div class="col-6 pl-4 col-sm-12">
      <h1>
        Mobile Friendly
      </h1>
      <p>
        Look amazing on every screen
      </p>
      <div class="col-12 relative flex-center-sm">
        <button class="btn" (click)="navigateToEmailpage()">
          Start Now
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="flex-row-container m-10 mt-0">
    <div class="col-6 col-sm-12 pr-4">
      <h1>
        Custom Domains
      </h1>
      <p>
        Choose between different domain options that matches your brand and business
      </p>
      <div class="col-12 relative flex-center-sm">
        <button class="btn" (click)="navigateToEmailpage()">
          Start Now
        </button>
      </div>
    </div>
    <div class="col-6 pl-4 col-sm-12 flex-center-sm">
      <img class="col-12" src="../assets/matrix-guy.svg"
           alt="Kiwi standing on oval">
    </div>
  </div>
</div>

<div class="background-light-gray" style="padding-top: 10rem">
  <div>
    <div class="flex-row-container mt-0">
      <div class="col-12 flex-center">
        <img class="col-12" src="../assets/guy-patting-a-macbook.svg"
             alt="Kiwi standing on oval">
      </div>
    </div>
  </div>
  <div>
    <div class="flex-row-container pb-10 mt-0">
      <div class="col-12">
        <h1 style="text-align: center">
          Custom Domains
        </h1>
        <p style="text-align: center">
          Choose between different domain options that matches your brand and business
        </p>
        <div class="col-12 relative flex-center">
          <button class="btn" (click)="navigateToEmailpage()">
            Start Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-container mt-0">
  <hr style="margin-block-start: 0">
</div>
<div class="header-container">
  <h1 (click)="scrollTop()" class="header-logo" style="padding-bottom: 1.5rem">
    LAAT
  </h1>
</div>

